* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 16px;
  }
  body {
    font-family: Arial, sans-serif;
  }
  
 /* .modal-content {
      width: 80%;
      margin: 0 auto;
    }
    .modal-body {
      padding: 0;
    }
    .btn-close {
      position: absolute;
      right: 0;
      padding: 1em;
    }
    .la {
      font-size: 2.3em;
      font-weight: bold;
    }
    .myform {
      padding: 2em;
      max-width: 100%;
      color: #fff;
      box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    }
    @media (max-width: 576px) {
      .myform {
        max-width: 90%;
        margin: 0 auto;
      }
    }
    .form-control:focus {
      box-shadow: inset 0 -1px 0 #7e7e7e;
    }
    .form-control {
      background-color: inherit;
      color: #fff;
      padding-left: 0;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #fff;
    }
    .myform .btn {
      width: 100%;
      font-weight: 800;
      background-color: #fff;
      border-radius: 0;
      padding: 0.5em 0;
    }
    .myform .btn:hover {
      background-color: inherit;
      color: #fff;
      border-color: #fff;
    }
    .lp {
      text-align: center;
      padding-top: 2em;
      color: grey;
    }
    .lp .a {
      color: #e1e1e1;
      text-decoration: none;
    }
    .lp .a:hover {
      color: #fff;
    }
  
  /*login  signup */
  



  #nav-bar{
  position: sticky;
  top:0;
  z-index: 10;
  }
  
  .navbar{
      background-image: linear-gradient(to right,#a517ba,#5f1782);
      padding: 0 ! important;
  }
  
  .navbar-brand img{
      height: 40px;
      padding-left: 20px;
  }
  
  .navbar-nav li{
      padding: 0 10px;
     
  }
  
  .navbar-nav li a {
      color:#fff;
      font-weight: 600;
      float: right;
      text-align: left;
  }
  .bml{
      float: right;
      text-align: left;  
  }
  
  .navbar-toggler-icon{
      font-size: 20px !important;
  }
  
  .navbar-toggler{
      outline:none !important;
  }
  
  /*----------------------------------------- banner section---------------------------------------------*/
  #banner{
      background-image: linear-gradient(to right,#a517ba,#5f1782);
      color:#fff;
      /*padding-top: 5%;*/
  }
  .promo-title{
      font-size: 35px;
      font-weight: 600;
      margin-top: 100px;
  }
  
  .play-btn{
      width: 45px;
      margin:20px;
  }
  
  #banner a{
      color:#fff;
      text-decoration:none;
  }
  
  .bottom-img{
      width:100%;
  }
  /*-------------------------------------------------------------- service section----------------------------------------*/
  
  #services{
      padding: 80px 0;
  }
  .service-img{
      width:100px;
      margin-top:20px;
  }
  .services{
      padding:20px;
  }
  .services h4{
      padding:5px;
      margin-top:25px;
      text-transform: uppercase;
  }
  .title::before{
      content:'';
      background: #7b1798;
      height:5px;
      width:200px;
      margin-left: auto;
      margin-right: auto;
      display: block;
  transform: translateY(63px);
  }
  .title::after{
      content:'';
      background: #7b1798;
      height:10px;
      width:50px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 40px;
  transform: translateY(8px);
  }
  #services .btn-primary{
      box-shadow:none;
      padding:8px 25px;
      border:none;
      border-radius:20px;
      background-image: linear-gradient(to right,#a517ba,#5f1782);
  
  }
  /*--------------------------------------- about us section---------------------------------------------------*/
  
  #about-us{
      background: #f8f9fa;
      padding-bottom: 50px;
      padding-top: 50px;
  }
  .about-title{
      font-size:40px;
      font-weight: 600;
      margin-top: 8%;
  }
  #about-us ul li{
      margin: 10px 0;
  }
  #about-us ul{
      margin-left: 20px;
  }
  /*------------------------------testimonials sections------------------------*/
  
  #testimonials{
      margin:100px 0;
  }
  .testimonials{
      border-left: 4px solid #7b1798;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .testimonials img{
      height:60px;
      width:60px;
      border-radius:50%;
      margin: 0 10px;
  }
  .user-details{
      display: inline-block;
      font-size: 12px;
  }
  /*----------------------------------social media section--------------------------------------*/
  
  #social-media{
      background: #f8f9fa;
      padding:100px 0;
  }
  #social-media p{
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 30px;
  }
  .social-icons img{
      width:60px;
      transition:0.5s;
  }
  .social-icons a:hover img{
      transform: translateY(-10px);
  }
  /*            footer       */
  #footer{
      background-image: linear-gradient(to right,#a517ba,#5f1782);
      color:#fff;
  }
  .footer-img{
      width:100%;
  }
  .footer-box{
      padding: 20px;
  }
  .footer-box img{
      width:120px;
      margin-bottom:20px;
  }
  .footer-box .fa{
      margin-right: 8px;
      font-size:25px;
      height:40px;
      width:40px;
      text-align:center;
      padding-top:7px;
      border-radius: 2px;
      background-image: linear-gradient(to right,#a517ba,#5f1782);
  
  }
  .footer-box .form-control{
      box-shadow:none !important;
      border: none;
      border-radius: 0;
      margin-top: 25px;
      max-width:250px;
  }
  .footer-box .btn-primary{
    margin-top: 30px;  
      box-shadow:none !important;
      border: none;
      border-radius: 0;
      background-image: linear-gradient(to right,#a517ba,#5f1782);
  }
  hr{
      background-color: #fff;
  }
  .copyright{
      margin-bottom: 0;
      padding-bottom: 20px;
      text-align: center;
  }
  
  /*-------home page-----------*/
  
  .asection{
      width:100%;
      min-height:100vh;
      background-color: #f8f9fa;
  }
  .acontainer{
      width:80%;
      display: block;
      margin: auto;
      padding-top: 100px;
  }
  .acontent-section{
      float:left;
      width:55%;
  }
  .aimage-section{
      float:right;
      width:40%;
  }
  .aimage-section img{
      width:100%;
      height:auto;
  
  }
  .acontent-section .atitle{
      text-transform: uppercase;
      font-size: 28px;
  
  }
  .acontent-section .acontent h3{
      margin-top: 20px;
      color:#5d5d5d;
      font-size: 21px;
  }
  .acontent-section .acontent p{
      margin-top: 10px;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 1.5;
  }
  .acontent-section .acontent .button {
      margin-top: 30px;
  }
  
  .acontent-section .acontent .button a{
      background-color: #3d3d3d;
      padding: 12px 40px;
      text-decoration: none;
      color:#fff;
      font-size: 25px;
      letter-spacing: 1.5px;
  }
  .acontent-section .acontent .button a:hover{
      background-color: #a52a2a;
      color:#fff;
  }
  .acontent-section .social{
      margin-top: 40px;
  }
  .acontent-section .social i{
      color:#a5252a;
      font-size: 30px;
      padding:0px 10px;
  }
  
  .acontent-section .social i:hover{
      color:#3d3d3d;
  }
  
  @media screen and (max-width: 768px){
      .acontainer{
          width:80%;
          display: block;
          margin: auto;
          padding-top: 50px;
      }
      .acontent-section{
          float:none;
          width:100%;
          display: block;
          margin:auto;
      }
      .aimage-section{
          float:none;
          width:100%;
           
      }
      .aimage-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        padding-top: 20px;
      }
      .acontent-section .atitle{
          text-align: center;
          font-size: 19px;
      }
      .acontent-section .acontent .button {
        text-align: center;
      }
      .acontent-section .acontent .button a{
        padding: 9px 30px;
      }
      .acontent-section .social{
        text-align: center;
      }
  
  }
  
  /*----------------------about page----------------*/
  
  
  
  
  
  
  